.deskSvg {
  width: 100%;
  max-width: 512px;
  height: auto;
}

/* SMOKE */
.deskSvg #smoke-1 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s ease infinite;
}

.deskSvg #smoke-2 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s 0.5s ease infinite;
}

@keyframes smoke {
  0% {
    stroke-dasharray: 0, 10;
  }
  50% {
    stroke-dasharray: 10, 0;
  }
  100% {
    stroke-dasharray: 10, 0;
    opacity: 0;
  }
}

/* CODE TYPING */
.code {
  font-family: monospace;
  font-size: 2px;
  color: #f78764;
  white-space: pre;
  overflow: hidden;
}

.code pre {
  margin: 0;
}

.code code {
  display: inline-block;
}

