@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 83 27% 85%;
    --foreground: 33 19% 26%;

    --card: 60 33% 92%;
    --card-foreground: 33 19% 26%;

    --popover: 60 33% 92%;
    --popover-foreground: 33 19% 26%;

    --primary: 25 77% 55%;
    --primary-foreground: 60 33% 92%;

    --secondary: 33 19% 63%;
    --secondary-foreground: 60 33% 92%;

    --muted: 33 19% 63%;
    --muted-foreground: 33 19% 26%;

    --accent: 33 19% 63%;
    --accent-foreground: 60 33% 92%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 33% 92%;

    --border: 33 19% 63%;
    --input: 33 19% 63%;
    --ring: 25 77% 55%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 33 19% 26%;
    --foreground: 60 33% 92%;

    --card: 33 19% 26%;
    --card-foreground: 60 33% 92%;

    --popover: 33 19% 26%;
    --popover-foreground: 60 33% 92%;

    --primary: 25 77% 55%;
    --primary-foreground: 60 33% 92%;

    --secondary: 33 19% 63%;
    --secondary-foreground: 60 33% 92%;

    --muted: 33 19% 63%;
    --muted-foreground: 60 33% 92%;

    --accent: 33 19% 63%;
    --accent-foreground: 60 33% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 33% 92%;

    --border: 33 19% 63%;
    --input: 33 19% 63%;
    --ring: 25 77% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.animate-fade-in-delay-1 {
  animation: fadeIn 1s ease-out 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.animate-fade-in-delay-2 {
  animation: fadeIn 1s ease-out 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.deskSvg {
  width: 100%;
  max-width: 512px;
  height: auto;
  position: relative;
  z-index: 2;
}

/* SMOKE */
.deskSvg #smoke-1 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s ease infinite;
}

.deskSvg #smoke-2 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s 0.5s ease infinite;
}

@keyframes smoke {
  0% {
    stroke-dasharray: 0, 10;
    opacity: 1;
  }
  50% {
    stroke-dasharray: 10, 0;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 10, 0;
    opacity: 0;
  }
}